<?php
echo $this->Html->script('jquery-latest.min');
	?>
</script>
<script type="text/javascript">
$(document).ready(function(){
//live check
$("#RegisterName").keyup(function(){
var username_value = $(this).val();
if(username_value!='')
{
  $.ajax({
        type:"post",
        url:'<?php echo $this->webroot; ?>Register/check_name/',
        type:'POST',
        data:{name:$(this).val(),type:'name'},
        cache: false,
        success:function(data){
                console.log("hello success");
                $('#result2').html(data);
                }
            });
        }
    });

});
</script>

<?php
echo $this->Session->flash('auth');
echo $this->Form->create(null, array('url' => array('controller' => 'register', 'action' => 'savedata')));
echo '<fieldset>';
	echo '<legend>Create an Account</legend>';

    echo '<label for="name">Name';
	    if ($form->isFieldError('name')) {
	        echo '<br/><strong>' .  $form->error('name') . '</strong>';
	    }
	    echo '</label>';
	    echo $form->text('name');
	    echo '<span class="ajax_status"><img src="/img/ajax-loader.gif" alt="Checking..." /></span>';
	    echo '<span id="username_ajax_result"></span>';

	    echo '<label for="email_id">Email';
        if ($form->isFieldError('email')) {
            echo '<br/><strong>' . $form->error('email') . '</strong>';
        }
        echo '</label>';
        echo $form->text('email_id');

        echo '<label for="password">Password';
        if ($form->isFieldError('password')) {
            echo '<br/><strong>' . $form->error('password') . '</strong>';
        }
        echo '</label>';
        echo $form->text('password');?>
        <span id="result2"></span>
        <?php
	    echo '</fieldset>';
	    echo $form->end('Register');

?>
