<style>
    table tr td{
        text-align : left;
        padding-right:30px

    }
</style>
<h3>Outbox:</h3>
<div class="services index">

	<table cellpadding="0" cellspacing="0" >
	<tr >
		<td>To:</td><td><?php if($message['Message']['all']==0) {
		echo $message['User_reciever']['name']; }
		else echo "All";?>&nbsp;</td>

	</tr>
	<tr>
    		<td>Sent On:</td><td><?php echo $message['Message']['sent_on']; ?>&nbsp;</td>
    </tr>
	<tr >
	    <td >Subject:</td><td><?php echo $message['Message']['subject']; ?>&nbsp;</td>
	</tr>
    <tr >
	    <td >Category:</td><td><?php if($message['Message']['category']=='3') echo 'Red';
	    else if($message['Message']['category']=='2') echo 'Yellow';
	    else echo 'Blue';
	     ?>&nbsp;</td>
	</tr>
	<tr >
    	    <td >Message:</td><td><?php echo $message['Message']['message']; ?>&nbsp;</td>
    	</tr>

	</table>



</div>
