input[type="radio"] {
    color: #44ff00;
    float: left;
    margin: 3px 8px 20px 0;
    text-align: center;
    text-indent: 40px;
    width: auto;
}



.redioText label {
    margin-left: 0 !important;
    margin-right: 130px;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 36px;
    padding-top: 0 !important;
    text-align: left;
    width: 90px !important;
}


select {
    clear: both;
    font-size: 100%;
    height: 25px;
    margin-top: 7px;
    vertical-align: text-bottom;
    width: 42%;
}

input, textarea {
    float: left;
    font-family: "frutiger linotype","lucida grande","verdana",sans-serif;
    font-size: 1em;
    margin-top: 7px;
    padding: 0.6%;
    text-align: justify;
    width: 50%;
}

