@charset "utf-8";
/* CSS Document */

#main
	{
	width:980px;
	height:auto;
	margin:auto;
	background-color:#FFFFFF;
	padding-top:20px;
	}
.divwidth
	{
	width:980px;
	height:auto;
	}
.clr
	{
	clear:both;
	}
#bl
	{	
	float:left;
	

	}
#top
	{
	float:right;
	

	}
#midBody
	{
	background-image:url(../img/images/yollow_body_bg.jpg);
	background-repeat:repeat-x;
	width:980px;
	height:589px;
	}
#logBox
	{
	width:520px;
	height:264px;
	margin-left:220px;
	margin-top:100px;
	padding-bottom:50px;
	}

.lgoCorner
	{
	float:left;
	width:15px;
	height:264px;
	}
#logMain
	{
	float:left;
	background-image:url(../img/images/log_body.jpg);
	width:490px;
	background-repeat:repeat-x;
	height:264px;
	}
.user
	{
	font-family:Verdana;
	font-size:14px;
	color:#666666;
	}
.textBox
	{
	width:200px; 
	border:solid; 
	border-width:1px; 
	border-color:#666666;
	}
#button
	{
	background-image:url(../img/images/log_but.png);
	width:80px;
	height:30px;
	background-repeat:no-repeat;
	font-family:Verdana;
	font-size:14px;
	color:#FFFFFF;
	text-align:center;
	line-height:28px;
	}
#button a
	{
	color:#FFFFFF;
	text-decoration:none;
	}
#button a:hover
	{
	display:block;
	color:#CCCCCC;
	}
/* end login page */

#bar
	{
	
	width:980px;
	background-repeat:repeat-x;
	height:32px;
	}	
#topLikn
	{
	font-family:Verdana; 
	font-size:11px; 
	color:#666666; 
	float:left; 
	margin-left:120px;
	margin-top:7px;
	}	
html>body #topLikn /* for mozila */
	{
	margin-left:240px;
	}
#topLikn a
	{
	color:#666666; 
	text-decoration:none;
	}
#topLikn a:hover
	{
	color:#CCCCCC;
	cursor:pointer;
	}
#topleLI
	{
	margin-left:20px;
	width:400px;
	padding-top:3px;
	}
html>body #topleLI /* for mozila */
	/*{
	margin-left:440px;
	}*/
.topHome
	{
	float:left;
	width:16px;
	height:16px;
	margin-top:3px;
	}
.hotow
	{
	font-family:Verdana; 
	font-size:11px; 
	color:#666666; 
	float:left; 
	margin-left:10px;
	margin-top:5px;
	}
.hotow a
	{
	text-decoration:none;
	color:#666666;
	}
.hotow a:hover
	{
	text-decoration:underline;
	cursor:pointer;
	}	
.gap
	{
	float:left; 
	width:30px; 
	height:10px; 
	margin-top:5px;
	}
	
/*start menu*/	
#leftPnael
	{
	float:left; 
	width: 100%;
	height:auto; 
	}
#leftPnael ul
	{
	margin-top:0px;
	padding-left:0px;
    display: inline-flex;

}
#leftPnael ul li
	{
	list-style:none;
	font-family:Arial, Helvetica, sans-serif;
	color:#f89d20;
	background-image:url(../img/images/Link_Bar.jpg);
	background-repeat:repeat-x;
	height:32px;
	width:200px;
	font-size:11px;
	font-weight:bold;
    display: inline-flex;
	}

#leftPnael ul li a
	{
	text-decoration:none;
	color:#f89d20;
	display:inline-block;
	margin-left:20px;

	}
#leftPnael ul li:hover
	{
	cursor:pointer;
	color:#999999;
	background-image:url(../img/images/hover.png);
	}
/*end menu*/
.menu
	{
	font-family:Verdana; 
	font-size:12px;
	}
#right_Panel
	{
	float:right; 
	width:79%; 
	background-color:#FFFFFF; 
	height:auto;
	
	}
#R_bodyinner
	{
	width:100%; 
	/*margin-top:10px; */
	margin-left:0px;

	}
.sl
	{
	border:solid;
	border-width:1px;
	border-color:#FFFFFF;
	border-top:none;
	border-bottom:none;
	border-left:none;
	text-align:center;
	background-image:url(../img/images/tab_heder_m.png);
	background-repeat:repeat-x;
	height:28px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFFFFF;
	font-weight:bold;
	}
#sl_bg
	{
	border:solid;
	border-width:1px;
	border-color:#FFFFFF;
	border-top:none;
	border-bottom:none;
	border-left:none;
	text-align:center;
	background-image:url(../img/images/sl.png);
	background-repeat:repeat-x;
	height:28px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFFFFF;
	font-weight:bold;
	}
.delete
	{
	text-align:center;
	background-image:url(../img/images/delete.png);
	background-repeat:repeat-x;
	height:28px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFFFFF;
	font-weight:bold;
	}
.row_one
	{
	border:solid;
	border-width:1px;
	border-color:#37759e;
	border-top:none;
	background-color:#FFFFFF;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#333333;
	}
.row_two
	{
	border:solid;
	border-width:1px;
	border-color:#37759e;
	border-top:none;
	border-left:none;
	background-color:#FFFFFF;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#333333;
	}
.row_three
	{
	border:solid;
	border-width:1px;
	border-color:#37759e;
	border-top:none;
	background-color:#F2F2F2;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#333333;
	}
.row_four
	{
	border:solid;
	border-width:1px;
	border-color:#37759e;
	border-top:none;
	border-left:none;
	background-color:#F2F2F2;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#333333;
	}
.agent_list
	{
	margin-top:5px;
	list-style:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#f89d20;
	cursor:pointer;
	width:120px;
	}


#table
	{
	width:750px;
	height:auto;
	padding-bottom:50px;
	}

#bottom
	{
	width:980px; 
	height:30px; 
	background-image:url(../img/images/footer.png);
	background-repeat:no-repeat;
    margin-top:2%;
	}
.clr
	{
	clear:both;
	}
	
.cdrsearch
	{
		background-color: #DDDDDD;
		padding-bottom: 5px;
		padding-top: 2px;
		border-radius: 4px 4px 4px 4px;
	}
div.cdrsearch label
	{
	float: left;
	width: auto;
	margin-left: 5px;
	padding-top: 5px;
	}
div.cdrsearch input[type=text]
	{
	float: left;
	width: 100px;
	height:10px;
	font-size: 11px;
	margin-left: 5px;
	margin-top: 2px;
	}
	
div.cdrsearch select
	{
	float: left;
	clear:none;
	width: 100px;
	height:22px;
	font-size: 11px;
	margin-left: 5px;
	margin-top: 2px;
	}
div.cdrsearch input[type=submit]
	{
	float: left;
	
	position: relative;
	margin-left: 5px;
	height: 25px;
	}
 #overlayclass
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter: alpha(opacity:70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    z-index: 100;
    display: none;
}
.divcontent a
{
    text-decoration: none;
}
.divpopup
{
    width: 500px;
    margin: 0 auto;
    display: none;
    position: relative;
    
}
.divcontent
{
     
    width: 450px;             
    margin: 10px auto;
    background: #f3f3f3;
    position: relative;

    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px #000;
}
.divcontent p
{
    clear: both;
    color: #555555;
    text-align: justify;
}
.divcontent p a
{
    color: #d91900;
    font-weight: bold;
}
.divcontent .imgclose
{
    float: right;
    height: 35px;
    left: 22px;
    position: relative;
    top: -25px;
    width: 34px;
}
.divcontent .imgclose:hover
{
    cursor: pointer;
}
 .selectboxClass{
    margin-left:5px;
}
.divcontent div{
    float:left;
    width:90px;
    margin-left:5px;
}
div.radio label.labelname{
    float:left;
    width:40%;
    margin: 0 3px 7px 0;
}
div.radio label {
    margin: 0px 0 6px 5px;
    width: 60px;

}

.radio{
    border: 0px;

}

