<div class="services form">
<?php echo $this->Form->create(null, array('url' => array('controller' => 'Drug', 'action' => 'add')));?>
	<fieldset>
		<legend><?php __('Add Drug'); ?></legend>
	<?php
		echo $this->Form->input('name');

		//echo $this->Form->input('provisional_diagnosis_id',array('label'=>'Provisional Diagnosis','type'=>'select','options'=>$provisional_diagnosis,'empty'=>'Select Provisional Diagnosis'));



	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit', true));?>
</div>