<table>
    <th>Agent</th>
    <th>Login Time</th>
    <th>Logout Time</th>
    <th>Total Time</th>
    <th>Calls Landed</th>
    <th>Calls Taken</th>
    <th>Talk TIme(Sec)</th>
    <th>Alarm</th>



<?php foreach($agent_logs as $agent_log):?>
    <tr>
        <td><?php echo $agent_log['company_agent_log']['company_agent_id']?></td>
        <td><?php echo $agent_log['company_agent_log']['login_time']?></td>
        <td><?php echo $agent_log['company_agent_log']['logout_time']?></td>
        <td><?php echo $agent_log['company_agent_log']['hms']?></td>
        <td><?php echo $agent_log['company_agent_log']['calls_landed']?></td>
        <td><?php echo $agent_log['company_agent_log']['calls_taken']?></td>
        <td><?php echo $agent_log['company_agent_log']['talk_time']?></td>
        <td><?php echo $agent_log['company_agent_log']['alarm']?></td>

    </tr>
<?php endforeach ?>
</table>